{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6 mx-auto">
            <div class="form-group m-auto">
                <div class="input-group date" id="datetimepicker3" data-target-input="nearest">
                    
                    <input id="time" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker3"/>
                    <div class="input-group-append" data-target="#datetimepicker3" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mx-auto">
            {% csrf_token %}
            <input id="username" type="hidden" value="{{username}}">
            <button id="add-time" type="button" class="btn btn-primary mb-2">Agregar</button>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker3').datetimepicker({
                    format: 'LT'
                });
            });
        </script>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <ul id="times" class="list-group">
                {% for time in times %}
                    <li class="list-group-item">{{time.time}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock content %}